.box-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('/images/bg.jpg');
  background-size: cover;
}

.box-layout__box {
  padding: $l-size $m-size;
  width: 25rem;
  background: fade-out(#fff, .15);
  border-radius: 3px;
  text-align: center;
}

.box-layout__title {
  margin: 0 0 $m-size;
  line-height: 1;
}
