.text-input {
  padding: $s-size;
  height: 50px;
  border: 1px solid #cacccd;
  font-size: $fond-size-large;
  font-weight: 300;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;

  height: 10rem;
}
